.team {
    background: #f5f4fa;
    margin-left: 0;


&__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
@include desktop {
    display: flex;
}
}



&__title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 30px;
    @include desktop{
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;}
@media screen and (min-width: 1200px) {
    .section+.section {
        padding-bottom: 94px;
    }
}
}

&__item {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    @include desktop {
        width: calc((100% - 90px) / 4);
    }
}

&__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-title-color);
    margin-bottom: 10px;
}

&__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

&__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 16px;
}
}